<% var githubUrl = 'https://github.com/' + config.github_repo +
    '/tree/master/' + (config.content_root || 'content') + '/' +
    page.path.replace(/\.html$/, '.md'); %>

<div class="nav dark">
  <div class="nav-group">
    <div class="nav-item">
      <span class="js-sidebar-toggle show-mobile">
        <span class="icon-menu"></span>
      </span>
      <a class="logo show-desktop" href="<%- theme.logo.url %>" title="<%- theme.logo.title %>" <%- theme.logo.target && 'target=' + theme.logo.target %> >
        <img src="<%- config.logo && config.logo.mobile || theme.logo.nav_mobile %>" alt="<%- config.title %>"/>
        <span><%- theme.logo.subtitle %></span>
      </a>
    </div>
  </div>

  <div class="center-wrapper show-mobile">
    <img src="<%- config.logo && config.logo.mobile || theme.logo.nav_mobile %>" alt="<%- config.title %>"/>
    <div><%- config.subtitle %></div>
  </div>

  <div class="nav-group right">
    <% if (config.apis && config.apis.docsearch) { %>
      <div class="nav-item show-mobile">
        <span class="js-search-toggle">
          <span class="icon-search"></span>
        </span>
      </div>
    <% } %>
    <% _.each(config.nav_links || theme.nav_links, function (link, title) { %>
      <div class="nav-item show-desktop <%- link.active && 'active' %>">
        <a class="link" href="<%- link.url || link %>" <%- link.target && 'target=' + link.target %> >
          <span><%- title %></span>
        </a>
      </div>
    <% }) %>
  </div>

  <% if (config.apis && config.apis.docsearch) { %>
    <div class="nav-search">
      <div class="input-symbol">
        <input type="text" placeholder="Search <%- config.subtitle %>" id="mobile-search-input"/>
        <span class="icon-search"></span>
      </div>

      <div class="nav-group right">
        <div class="nav-item">
          <span class="js-search-toggle">
            <span class="icon-close"></span>
          </span>
        </div>
      </div>

      <div class="wrapper-mobile-search-results"></div>
    </div>
  <% } %>

</div>

<%- partial('partials/sidebar') %>
<div class="content">
  <div class="content-wrapper">
    <div class="header-content">
      <h1 class="title-page"><%- page.title %></h1>
      <% if (page.description) { %>
        <div class="subtitle-page"><%- page.description %></div>
      <% } %>

      <div class="page-actions">
        <div class="actions-group">
          <a class="btn primary small round lowercase" href="<%- githubUrl %>" target="_blank"><span class="icon-github"></span> <span>Edit on GitHub</span></a>
          <% if (page.discourseTopicId) { %>
            <a class="btn tertiary small round lowercase" href="https://forums.meteor.com/t/<%- page.discourseTopicId %>"><span class="icon-comment"></span> <span>Discuss</span></a>
          <% } %>
        </div>
      </div>
    </div>

    <div class="document-formatting">
      <%- page.content %>
    </div>
  </div>

  <div class="pagination">
    <div class="content-wrapper">
      <%
        function findAdjacent (direction) {
          var pages = site.pages.find({}).sort({order: 1}).map(function (page) { return page })
          var i = pages.length
          while (i--) {
            if (pages[i].title === page.title) {
              break
            }
          }
          return direction > 0
            ? pages[i + 1]
            : pages[i - 1]
        }
      %>
      <% var prev = findAdjacent(-1); if (prev) { %>
        <a class="link primary prev"
          href="<%- relative_url(page.path, prev.path) %>">
          <span class="icon-arrow-left-alt"></span>
          <span class="subtitle-pagination">Previous</span>
          <%- prev.title %>
        </a>
      <% } %>
      <% var next = findAdjacent(1); if (next) { %>
        <a class="link primary next"
          href="<%- relative_url(page.path, next.path) %>">
          <span class="subtitle-pagination">Next</span>
          <%- next.title %>
          <span class="icon-arrow-right-alt"></span>
        </a>
      <% } %>
    </div>
  </div>

  <div class="github">
    <a class="link tertiary " href="<%- githubUrl %>" target="_blank">
      <span class="icon-github"></span>Edit on GitHub</a>
  </div>

  <% if (page.discourseTopicId) { %>
    <div class="discourse-comments-wrapper content-wrapper">
      <div id='discourse-comments'></div>
    </div>

    <script type="text/javascript">
      DiscourseEmbed = { discourseUrl: 'http://forums.meteor.com/',
                         topicId: <%- page.discourseTopicId %> };

      (function() {
        var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
        d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
      })();
    </script>
  <% } %>
</div>
